@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;600;700&display=swap');

html {
	height: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #03B5AA;
    min-height: 100%;
    position: relative; 
}

header{
    height: 60px;
    background-color: #222E50;
    font-family: Montserrat, Arial, sans-serif;
    font-size: 1.5em;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.26);
}
header>h1 {
    color: white;
    font-weight: lighter;
    height: 60px;
    margin: 0px ;
    padding: 10px;
	font-size: 40px;
}
header img{
    width: 40px;
    height: 40px;
	margin-bottom: 10px;
}

#conteudo{
	padding-bottom: 0px;
	background-color: #ACFCD9;
    min-width: 300px;
    max-width: 750px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#main-container {
	padding-bottom: 15px;
}

.horizontal-center {
	margin: 0 auto;
}

input.btn {
	font-weight: bold;
}

.btn {
	font-weight: bold !important;
}

.btn-success {
	background-color: #06d362 !important;
	border-color: #06d362;
	margin: 10px;
}

.btn-success:hover {
	background-color: #1abd61 !important;
	border-color: #1abd61;
}

footer{
	background-color: #ACFCD9;
	color: #222E50;
	height: 25px;
	text-align: center;
	width: 100%;
	bottom: 0;
	position: absolute;
}

#join {
	padding-top: 40px;
	margin-left: auto;
	margin-left: auto;
	width: 400px;
}

#not-logged {
	padding-top: 40px;
}

#join-dialog h1 {
	color: #4d4d4d;
	font-weight: bold;
	text-align: center;
}

#join-dialog label {
	color: #0088aa;
}

#join-dialog input.btn {
	margin-top: 15px;
}

#join-dialog hr {
	background: #4d4d4d;
}

#img-div img {
	height: 15%;
}

#join {
	max-width: 700px;
	margin: auto;
	margin-top: 100px;
}

#session-header {
	margin-bottom: 20px;	
}

#session-header form {
	display: inline-block;
}

#session-header input.btn {
	float: right;
	margin-top: 20px;
	margin-left: 5px;
	margin-right: 15px;
}

#session-title {
	margin-left: 15px;
	display: inline-block;
	font-size: 35px;
}

#session-header .form-control {
	width: initial;
	float: right;
	margin: 18px 0px 0px 5px;
}

#video-container {
	margin: auto;
	/*width: 100%;*/
	/*max-height: 50%;*/
	display: table;
	overflow: hidden;
}

#video-container video{
	
	max-width: 100%;
	width: 335px;
	/*padding: 20px;*/
	margin: 20px;
}

#video-container div {
	position: absolute;
	display: inline-flex;
	margin-left: calc(-50% + 15px);
}

#video-container p {
	display: inline-block;
	background: #f8f8f8;
	padding-left: 5px;
	padding-right: 5px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
}

#video-container p.userName {
	float: right;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 0px;
	font-weight: lighter;
	font-size: 12px;
	background: #777777;
	color: #f8f8f8;
}

video {
	width: auto;
    height: auto;
    max-height: 100%;
    object-fit: scale-down;
}

#session {
	padding-bottom: 0px;
}

#dwn{
	padding: 5px;
}

#session img {
	width: 100%;
	height: auto;
	display: inline-block;
	object-fit: contain;
	vertical-align: baseline;
}

main #video-container img {
	position: relative;
	float: left;
	width: 50%;
	cursor: pointer;
	object-fit: cover;
	height: 180px;
}

#tooltip-div {
	text-align: left;
}

#tooltip-div hr {
	margin: 5px 0;
}

#login-info {
	text-align: right;
}

#login-info form {
	display: inline;
}

#login-info div {
	display: inline;
	margin-right: 1em;
}

#name-user {
	font-weight: bold;
}

#recording-btns {
	/*display: inline-block;*/
    padding-left: 15px;
    padding-top: 15px;
	padding-bottom: 15px;
    width: 100%;
    /*height: 75px;*/

	background-color: #ACFCD9;
	
    min-width: 300px;
    max-width: 750px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
	border-radius: 10px;
}

#recording-btns .btns {
	margin-top: 10px;
}

#recording-btns .btns .form-control {
	width: initial;
	display: inline;
}

#recording-btns .btns form {
	display: inline;
	margin-left: 5px;
}

#recording-btns textarea {
	height: 100%;
}

/* xs ans md screen resolutions*/

@media screen and (max-width: 991px) {
	#join {
		padding-top: inherit;
	}

	.vertical-center {
		padding-top: 10px;
	}

	#img-div {
		padding-bottom: 1em;
	}

	#img-div img {
		height: 10%;
	}
}

#link{
	background-color: #ACFCD9;
	margin-top: 15px;
	border: #ACFCD9;
	box-shadow: none;
	color: black;
	min-width: 300px;
    max-width: 750px;
	margin: auto;
	margin-bottom: 10px;
}

#forceRecordingId{
	visibility: hidden;
	height: 1px;
	margin: 0;
	padding: 0;
}

#buttonGetRecording{
	visibility: hidden;
	height: 1px;
	margin: 0;
	padding: 0;
}

#btns2{
	visibility: hidden;
	height: 1px;
	margin: 0;
	padding: 0;
}

#chat2{
	background-color:#222e5093 ;
	width: 500px;
	margin: auto;
	margin-top: 15px;
	border-radius: 10px ;
	padding-top: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}


#enviarchat{
  background-color: #222E50;
  padding: 8px;
  display: table;
  border-radius: 0px 0px 10px 10px;
  height: 50px;
  width: 500px;
  margin-bottom: 50px;
}

form input[type='text']{
	border: 2px solid rgba(0, 0, 0, 0.329);
	border-radius: 5px;
	padding: 5px;
	width: 75%;
	margin-left: 10px;
}
  
form input[type='submit']{
	background-color: blueviolet;
	border: none;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 7px 5px;
	width: 20%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

#has-audio-checkbox{
	background-color: white;
}

form #check{
	background-color: black;
}

#link{
	width: 700px;
}

.form-group p{
	margin: auto;
	text-align: center;
}

#sessionName{
	margin: auto;
}
#userName{
	margin: auto;
}

.content {
	background-color:#222e5093 ;
	width: 500px;
	margin: auto;
	margin-top: 15px;
	border-radius: 10px ;
	padding-top: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

#chat{
	background-color: #FFF;
	margin: 10 17px 10px 17px;
	height: 300px;
	float: left;
	border-radius: 10px 10px 10px 10px;
	width: 466px;
	padding: 5px;
	overflow:auto; 
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

.enviar{
	background-color: #222E50;
	padding: 8px;
	display: table;
	border-radius: 0px 0px 10px 10px;
	height: 50px;
	width: 500px;
	margin-bottom: 50px;
}

form button[type='submit']{
	background-color: blueviolet;
	border: none;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 7px 5px;
	width: 20%;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.322);
}

.Gravar {
	float: right;
	margin-top: 20px;
	margin-left: 5px;
	font-weight: bold !important;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	color: #fff;
	background-color: #d9534f;
	border: 1px solid transparent;
	border-color: #d9534f;
}

.mensagens {
	flex-grow: 1;
	padding: 20px 30px;
	overflow: auto;
}
.mensagem{
	display: flex;
	flex-direction: column;
}
.mensagem--mine {
	align-items: flex-end;
}
.mensagem--theirs {
	align-items: flex-start;
}
.mensagem__name {
	padding: 2px ;
	height: 18px;
	margin: 5px 3px 1px 3px;
	color: rgba(59, 59, 59, 0.815);
	font-size: 12px;
}
.mensagem__bubble {
	padding: 5px ;
	margin: 2px 5px;
	border-radius: 5px;
}
.mensagem--theirs .mensagem__bubble {
	background: #6363bf;
	color: white;
}
.mensagem--mine .mensagem__bubble {
	background: rgba(156, 172, 172, 0.2);
}

